<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1>Restaurants</h1>
      <p><%= link_to 'Add a new restaurant', new_restaurant_path %></p>

      <% @restaurants.each do |restaurant| %>
        <ul>
          <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %> (<%= restaurant.category.capitalize %>)</li>
        </ul>
      <% end %>

    </div>
  </div>
</div>
